@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: ChakraPetch-bold;
  src: url("/fonts/ChakraPetch-Bold.ttf");
}
@font-face {
  font-family: ChakraPetch-bold-italic;
  src: url("/fonts/ChakraPetch-BoldItalic.ttf");
}
@font-face {
  font-family: ChakraPetch-italic;
  src: url("/fonts/ChakraPetch-Italic.ttf");
}
@font-face {
  font-family: ChakraPetch-light;
  src: url("/fonts/ChakraPetch-Light.ttf");
}
@font-face {
  font-family: ChakraPetch-light-italic;
  src: url("/fonts/ChakraPetch-LightItalic.ttf");
}
@font-face {
  font-family: ChakraPetch-medium;
  src: url("/fonts/ChakraPetch-Medium.ttf");
}
@font-face {
  font-family: ChakraPetch-medium-italic;
  src: url("/fonts/ChakraPetch-MediumItalic.ttf");
}
@font-face {
  font-family: ChakraPetch-regular;
  src: url("/fonts/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: ChakraPetch-semibold;
  src: url("/fonts/ChakraPetch-SemiBold.ttf");
}
@font-face {
  font-family: ChakraPetch-semibold-italic;
  src: url("/fonts/ChakraPetch-SemiBoldItalic.ttf");
}
@font-face {
  font-family: ProtestStrike-regular;
  src: url("/fonts/ProtestStrike-Regular.ttf");
}
@font-face {
  font-family: Type-machine;
  src: url("/fonts/Type-Machine.ttf");
}

/* :root {
  --foreground-rgb: 0,0,0;
  --background-start-rgb: 241, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 


